<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Home</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/students" routerLinkActive="active">Link to List StudentList</a>
    </div>
    <div>
        <a routerLink="/teachers" routerLinkActive="active">Link to List TeacherList</a>
    </div>
    <div>
        <a routerLink="/courses" routerLinkActive="active">Link to List CourseList</a>
    </div>
    <div>
        <a routerLink="/exams" routerLinkActive="active">Link to List ExamList</a>
    </div>
 <!-- END LINKS -->
</div>